@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

main {
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

input {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  max-width: 300px;
}

button {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

button i {
  font-size: 20px;
}

.content {
  display: flex;
  /*flex-direction: column; */
  align-items: center;
  word-break: break-word;
}

img {
  min-width: 120px;
  background-image: radial-gradient(#b5b5b5, #f7f7f7 70%);
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  main {
    max-width: 90%;
    padding: 15px;
  }

  input {
    font-size: 18px;
  }

  button i {
    font-size: 30px;
  }

  img {
    min-width: 100px;
  }
}

@media (max-width: 480px) {
  main {
    max-width: 100%;
    padding: 10px;
  }

  input {
    font-size: 16px;
  }

  button i {
    font-size: 25px;
  }

  img {
    min-width: 80px;
  }
}
